[Unit]
Description=Mount USB Drive

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh /usr/bin/recover

StandardOutput=append:/var/log/usb-mount.log
StandardError=append:/var/log/usb-mount.log

[Install]
WantedBy=multi-user.target
~
